body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #f4f4f4;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

table {
    width: 600px;
    border-collapse: collapse;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid #000000;
    text-align: center;
}

th {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px;
    text-align: left;
}
